/* .signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-card {
  display: flex;
  width: 900px;
  height: 600px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.signup-left {
  position: relative;
  width: 40%;
  background: linear-gradient(135deg, #007bff, #6c63ff);
  color: #fff;
  padding: 40px;
}

.signup-left .logo {
  font-size: 2rem;
  font-weight: bold;
}

.signup-left .left-desc {
  margin-top: 20px;
  font-size: 1.1rem;
  line-height: 1.5;
}

.signup-right {
  width: 60%;
  padding: 60px 50px;
}

.right-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.right-sub {
  color: #777;
  margin-bottom: 30px;
}

.form-row {
  margin-bottom: 20px;
}

.form-row label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-row input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.continue-btn {
  width: 100%;
  padding: 12px;
  background: #6c63ff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.continue-btn:hover {
  background: #5148d8;
}

.login-text {
  text-align: center;
  margin-top: 20px;
}

.link {
  color: #6c63ff;
  text-decoration: none;
  font-weight: 600;
} */
